services:
  openclaw-gateway:
    image: openclaw:local
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
      OLLAMA_HOST: http://ollama-api:11434
    volumes:
      - /home/openclaw/config:/home/node/.openclaw
      - /home/openclaw/workspace:/home/node/.openclaw/workspace
    ports:
      - "3333:18789"
    init: true
    restart: unless-stopped
    command:
      [
        "node",
        "openclaw.mjs",
        "gateway",
        "--allow-unconfigured",
        "--bind",
        "lan",
        "--port",
        "18789",
      ]
    networks:
      - coolify
      - ollama

networks:
  coolify:
    external: true
  ollama:
    name: q8w484goc8kowgs48448wgwo
    external: true
