services:
  openclaw-gateway:
    image: openclaw:local
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
    volumes:
      - ${HOME_OPENCLAW}/config:/home/node/.openclaw
      - ${HOME_OPENCLAW}/workspace:/home/node/.openclaw/workspace
    ports:
      - "3333:18789"
    init: true
    restart: unless-stopped
    command:
      [
        "node",
        "openclaw.mjs",
        "gateway",
        "--allow-unconfigured",
        "--bind",
        "lan",
        "--port",
        "18789",
      ]
    networks:
      - coolify

networks:
  coolify:
    external: true
